<%= simple_form_for [@contactable, :contact, @phone], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :type, collection: [ "home", "work", "mobile", "relative", "other" ] %>
	<%= f.input :name %>
	<%= f.input :country_code, collection: { "+61 Australia" => 61, "+64 New Zealand" => 64 } %>
	<%= f.input :number, type: :phone %>
	<%= f.input :extension %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
	<%= link_to "Cancel", polymorphic_path([@contactable, :contact]), class: "btn" %>
  </div>
<% end %>
