<ul class="thumbnails">
	<% thumbnails.each do |phone| %>
	<li class="span3">
		<div class="thumbnail">
				<%= render phone %>
				<%= link_to 'Edit', polymorphic_path([@contactable, :contact, phone], action: :edit), class: "btn btn-mini" %>
				<%= link_to 'Delete'.html_safe, polymorphic_path([@contactable, :contact, phone]), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-mini" %>
		</div>
	</li>
	<% end %>
</ul>