<%= simple_form_for [@patient, @visit, @note] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :text, as: :text, label: false, input_html: { class: 'span8' }, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
		<%= link_to 'Cancel', patient_notes_path(@patient), class: 'btn'  %>
  </div>
<% end %>
