<li class="span9">
	<div class="thumbnail">
		<%= simple_format note.text %>
		<%= link_to 'Details', patient_visit_note_path(@patient, @visit, note), class: 'btn btn-mini' %>
		<%= link_to 'Edit', edit_patient_visit_note_path(@patient, @visit, note), class: 'btn btn-mini' %>
		<%= link_to 'Delete', patient_visit_note_path(@patient, @visit, note), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %>
		<em class="pull-right"><%= User.find(note.user_id).name %></em>
	</div>
</li>