<% content_for :sidebar do %>
<ul class="nav nav-tabs nav-stacked">
	<% @patient.visits.each do |other_visit| %>
	<% if other_visit == @visit %>
	<li class="active">
	<% else%>
	<li>
	<% end %>
		<%= link_to other_visit.name, patient_notes_path(@patient, visit_id: other_visit._id) %>
	</li>
	<% end %>
</ul>
<% end unless @visit.nil? %>

<div class="notes">
  <ul class="thumbnails">
  	<%= render @notes unless @notes.nil? %>
  </ul>
</div>

<% if @visit.present? %>
<div class="form-actions">
<%= link_to 'New Note', new_patient_visit_note_path(@patient, @visit), class: "btn btn-primary" %>
</div>
<% else %>
No notes, create a new visit first.
<% end %>