<p><%= simple_format @note.text %></p>
<strong>By: </strong>
<%= @author.name %>

<div class="form-actions">
<%= link_to 'Edit', edit_patient_visit_note_path(@patient, @visit, @note), class: 'btn' %> 
<%= link_to 'Back', patient_notes_path(@patient), class: 'btn' %>
<%= link_to 'Delete', patient_visit_note_path(@patient, @visit, @note), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger pull-right' %>
</div>