<%= simple_form_for([@clinical_team, @position], html: { class: 'form form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :superior, collection: @clinical_team.positions %>
    <%= f.association :user, collection: @clinical_team.site.users, include_blank: false, input_html: { class: 'multiselect', style: 'width: 25em;' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @clinical_team, class: 'btn' %>
  </div>
<% end %>
