<ul id="orgchart">
  <% @positions.where(superior: nil).each do |root| %>
  <li><%= render root %>
    <ul>
      <h3><% @positions.where(superior: root).each do |sub1| %></h3>
      <li><%= render sub1 %>
        <ul>
          <% @positions.where(superior: sub1).each do |sub2| %>
          <li><%= render sub2 %></li>
          <% end %>
        </ul>
      </li>
      <% end%>
    </ul>
  </li>
  <% end%>
</ul>