<div class="position">
<strong><%= position.name %></strong><br/>
<%= position.user.name unless position.user.nil? %><br/>
<% if can? :manage, position %>
  <%= link_to 'Edit', edit_clinical_team_position_path(@clinical_team, position), class: 'btn btn-mini' %> 
  <%= link_to 'Destroy', [@clinical_team, position], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
<% end %>
</div>