<table class="table table-striped sortable">
  <thead>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Actions</th>
  </tr>
  </thead>

<% @positions.each do |position| %>
  <tr>
    <td><%= link_to position.name, [@clinical_team, position] %></td>
    <td><%= position.user.name unless position.user.nil? %></td>
    <td>
    <%= link_to 'Edit', edit_clinical_team_position_path(@clinical_team, position), class: 'btn btn-mini' %> 
    <%= link_to 'Destroy', [@clinical_team, position], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>