<div class="page-header">
<h1><%= @clinical_team.name %> positions</h1>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="chart">
    <%= render partial: 'list', object: @positions %>
    <div id="orgchart-container"></div>
  </div>
  <div class="tab-pane" id="table">
    <%= render partial: 'table', object: @positions %>
  </div>
</div>

<div class="form-actions">
<%= link_to 'New Position', new_clinical_team_position_path(@clinical_team), class: 'btn btn-primary' %>
  <div class="btn-group pull-right" data-toggle="buttons-radio">
    <%= link_icon 'Chart', '#chart', 'sitemap', 1, class: 'btn active', data: { toggle: 'tab' } %>
    <%= link_icon 'Table', '#table', 'list', 1, class: 'btn', data: { toggle: 'tab' } %>
  </div>
</div>