<div class="page-header">
<h1><%= @position.name %></h1>
</div>

<div class="form-actions">
<%= link_to 'Edit', edit_clinical_team_position_path(@clinical_team, @position), class: 'btn' %>
<%= link_to 'Back', @clinical_team, class: 'btn' %>
</div>