<%= simple_form_for [@patient, @visit], html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :admission_time, as: :datechooser %>
  <%= f.input :discharge_time, as: :datechooser %>
  <%= f.association :location, collection: current_user.site.locations, include_blank: false,  input_html: { class: 'multiselect', style: 'width: 25em;' } %>
  <%= f.association :clinical_team, collection: current_user.site.clinical_teams, input_html: { class: 'multiselect', style: 'width: 25em;' } %>
  <%= f.input :sensitive, as: :radio_buttons, hint: 'Sensitive visits are hidden from users at other sites.' %>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      patient_visits_path(@patient), :class => 'btn' %>
  </div>
<% end %>
