<table class="table table-striped sortable">
	<thead>
		<tr>
			<th>Site</th>
			<th>Location</th>
      <th>Team</th>
			<th>Admitted</th>
			<th>Discharged</th>
			<th>Length of stay</th>
			<th>Actions</th>
		</tr>
	</thead>
  
	<% @visits.each do |visit| %>
	<tr>
		<td><%= visit.location.site.name %></td>
		<td><%= visit.location.name %></td>
    <td><%= visit.clinical_team.name unless visit.clinical_team.nil? %></td>
		<td><%= l visit.admission_time, format: :date_only  %></td>
		<td><%= visit.discharge_time.present? ? (l visit.discharge_time, format: :date_only) : 'active' %></td>
		<td><%= visit.length_of_stay %></td>
		<td>
			<%= link_to 'Show', [@patient, visit], class: 'btn btn-mini'%>
			<%= link_to 'Edit', edit_patient_visit_path(@patient, visit), class: 'btn btn-mini' %>
			<%= link_to 'Destroy', [@patient, visit], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
		</td>
	</tr>
	<% end %>
</table>

<% if can? :create, Visit %>
<div class="form-actions">
<%= link_to 'New Visit', new_patient_visit_path(@patient), class: 'btn btn-primary' %>
</div>
<% end %>