<dl class="dl-horizontal">
	<dt>Site</dt>
	<dd><%= @visit.location.site.name %></dd>
	<dt>Location</dt>
	<dd><%= @visit.location.name %></dd>
  <dt>Clinical team:</dt>
  <dd><%= @visit.clinical_team.name unless @visit.clinical_team.nil? %></dd>
</dl>

<div class="form-actions">
<%= link_to 'Edit', edit_patient_visit_path(@patient, @visit), class: 'btn' %>
<%= link_to 'Back', patient_visits_path(@patient), class:'btn' %>
</div>