<%= simple_form_for [@site, @user_group], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :roles, collection: ROLES, as: :check_boxes %>
  <%= f.input :site_id, collection: Site.all, selected: @user_group.site_id %>
  <%= f.association :users, collection: User.all, input_html: { class: 'multiselect', style: 'width: 25em;' } %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                site_path(@site), :class => 'btn' %>
  </div>
<% end %>
