<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roles</th>
      <th>Current users</th>
    </tr>
  </thead>
  <tbody>
    <% @user_groups.each do |user_group| %>
      <tr>
        <td><%= link_to user_group.name, site_user_group_path(@site, user_group) %></td>
        <td><%= user_group.roles.to_sentence %></td>
        <td><%= user_group.users.collect {|u| u.name}.to_sentence %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, UserGroup %>
<div class="form-actions">
  <%= link_to 'New User Group',
            new_site_user_group_path(@site),
            :class => 'btn btn-primary' %>
</div>
<% end %>