<ul class="breadcrumb">
	<li>
		<a href="<%= site_path(@site)%>"><%= @site.name %></a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href="<%= site_user_groups_path(@site)%>">User Groups</a>
		<span class="divider">/</span>
	</li>
	<li class="active">
		<%= @user_group.name %>
	</li>
</ul>

<div class="page-header">
<h1><%= @user_group.name %> at <%= @user_group.site.name%></h1>
</div>

<dl class="dl-horizontal">
	<dt>Roles:</dt>
	<dd><%= @user_group.roles.to_sentence %></dd>
	<dt>Current users:</dt>
	<dd><%= @user_group.users.collect {|u| u.name}.to_sentence %></dd>
</dl>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")),
	site_path(@site), :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_site_user_group_path(@site, @user_group), :class => 'btn' if can? :update, @user_group %>
	<%= link_to 'Delete',
	site_user_group_path(@site, @user_group),
	:method => 'delete',
	:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	:class => 'btn btn-danger pull-right' if can? :destroy, @user_group %>
</div>
