<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.input :login %>
<%= f.input :name %>
<%= f.input :email %>
<%= f.input :password, hint: 'Leave blank to leave unchanged' %>
<%= f.association :user_groups, collection: current_user.site.user_groups, disabled: cannot?(:manage, UserGroup), input_html: { class: 'multiselect' } %>
<div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              @user, :class => 'btn' %>
</div>
<% end %>
