<div class="page-header">
<h1>Users</h1>
</div>

<table class="table table-striped sortable">
	<caption>Total <%= pluralize(@users.count, 'user') %>.</caption>
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Site</th>
			<th>Last signed in</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.site.name %></td>
				<td><%= user.last_sign_in_at %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' if can? :create, User %>
</div>