
<% @positions.each do |position| %>
<div class="thumbnail span4">
  <strong><%= position.name %></strong> for <%= position.clinical_team.name %><br/>
  <%= pluralize(position.clinical_team.patients.count, 'patient') unless position.clinical_team.patients.nil? %>
  <%= link_to 'Show team', position.clinical_team, class: 'btn btn-mini pull-right' %>
</div>
<% end %>