<dl class="dl-horizontal">
	<dt>Current sign in:</dt>
	<dd><%= @user.current_sign_in_at %></dd>
	<dt>Last sign in:</dt>
	<dd><%= @user.last_sign_in_at %></dd>
	<dt>Current IP:</dt>
	<dd><%= @user.current_sign_in_ip %></dd>
	<dt>Last IP:</dt>
	<dd><%= @user.last_sign_in_ip  %></dd>
	<dt>Sign in count:</dt>
	<dd><%= @user.sign_in_count %></dd>
</dl>