
<dl class="dl-horizontal">
  <dt>Login:</dt>
  <dd><%= @user.login %></dd>
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
  <dt>User groups:</dt>
  <dd><%= @user.user_groups.collect {|u| u.to_s}.to_sentence  %></dd>
  <% if @available_sites.count > 1 %>
    <dt>Current site:</dt>
    <dd><%= simple_form_for @user do |f| %>
      <%= f.input :site_id, collection: @user.available_sites, as: :select, label: false, include_blank: false, input_html: { onchange: 'this.form.submit()' } %>
    <% end %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to 'Edit',
  edit_user_path(@user), :class => 'btn' if can? :edit, @user %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
  home_path, :class => 'btn' %>
  <%= link_to 'Delete account',
  user_path(@user),
  :method => 'delete',
  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
  :class => 'btn btn-danger pull-right' if can? :destroy, @user %>
</div>
