<% if @just_logged_in %>
<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <p class="lead"><strong>Check your settings:</strong></p>
  <% if current_user.available_sites.count > 1 %>
  	<p><%= icon 'hospital' %>&emsp;You are logged in to <strong><%= @site.name %></strong>.</p>
  <% end %>
  <p><%= icon 'user-md' %>&emsp;<%= @positions %> <%= link_icon 'Change settings', user_path(@user), "cogs", 1, class: 'btn btn-primary btn-small pull-right' %></p>
</div>
<% end %>

<br/>
<div class="row">
  <%= render partial: 'patients/search_form' %>

</div>

<div class="row">
  <% if @notes_search || @patients_search %>
    <%= render partial: 'shared/partients_result' %>
  <% else %>
      <div class="alert">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p class="lead"><strong>Important announcement</strong></p>
        <p>This web app needs a lot more work.</p>
      </div>
  <% end %>
</div>
<br/>
