<div class="hero-unit">
  <h1>Welcome to Continuity EMR</h1> <br/>
  
  <p>This demo server is currently hosting <strong><%= pluralize(@site_count, 'site') %></strong>!</p>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-large btn-primary' %>
</div>