<div class="row">
  <div class="span6">
    <div id="pie" style="min-width: 100px; height: 200px; margin: 0 auto"></div>
  </div>
  <div class="span6">
    <p><%= icon 'ambulance' %>&emsp;There <%= @admissions_count == 1 ? 'is' : 'are' %> 
    currently <strong><%= pluralize(@admissions_count, 'admission') %></strong>.</p>
  	<p><%= icon 'heart' %>&emsp;You have <strong><%= pluralize(@patients_count, 'patient') %></strong>.</p>
    <br/>
    <div class="progress">
      <div class="bar bar-success" style="width: <%= @occupancy * 100 %>%;"></div>
    </div>
    <small>Hospital bed occupancy: <%= @occupancy * 100 %>%</small>
  </div>
</div>