<%= simple_form_for @clinical_team, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :specialty %>
    <%= f.association :site, collection: @sites_collection, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to "Cancel", clinical_teams_path, class: 'btn' %>
  </div>
<% end %>
