<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specialty</th>
      <th>Positions</th>
      <th>Active/Total admissions</th>
    </tr>
  </thead>
<% @clinical_teams.each do |clinical_team| %>
  <tr>
    <td><%= link_to clinical_team.name, clinical_team %></td>
    <td><%= clinical_team.specialty %></td>
    <td><%= clinical_team.positions.count %></td>
    <td><%= clinical_team.visits.active.count %>/<%= clinical_team.visits.count %></td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
<%= link_to 'New Clinical team', new_clinical_team_path, class: 'btn btn-primary' %>
</div>