<dl class="dl-horizontal">
	<dt>Name:</dt>
	<dd><%= @clinical_team.name %></dd>
  <dt>Specialty:</dt>
  <dd><%= @clinical_team.specialty %></dd>
  <dt>Active admissions:</dt>
  <dd><%= @clinical_team.visits.active.count %></dd>
</dl>

<h3>Positions</h3>

<% if @positions.empty? %>
No positions.
<% else %>
<div class="tab-content">
  <div class="tab-pane active" id="chart">
    <%= render partial: 'positions/list', object: @positions %>
    <div id="orgchart-container"></div>
  </div>
  <div class="tab-pane" id="table">
    <%= render partial: 'positions/table', object: @positions %>
  </div>
</div>
<% end %>

<div class="form-actions">
  <% if can? :manage, @clinical_team %>
    <%= link_to 'New Position', new_clinical_team_position_path(@clinical_team), class: 'btn btn-primary' %>
    <%= link_to 'Edit team', edit_clinical_team_path(@clinical_team), class: 'btn' %> 
  <% end %>
  <%= link_to 'Back', (can?(:manage, @clinical_team) ? clinical_teams_path : job_description_user_path(current_user)), class: 'btn' %>
  <% if @positions.present? %>
  <div class="btn-group pull-right" data-toggle="buttons-radio">
    <%= link_icon 'Chart', '#chart', 'sitemap', 1, class: 'btn active', data: { toggle: 'tab' } %>
    <%= link_icon 'Table', '#table', 'list', 1, class: 'btn', data: { toggle: 'tab' } %>
  </div>
  <% end %>
</div>
