<% if contact.addresses.empty? && contact.phones.empty? %>
<br/>
No contact information.
<br/>
<% end %>
<%= render partial: "phones/thumbnails", object: contact.phones %>
<%= render partial: 'addresses/thumbnails', object: contact.addresses %>

<% if contact.notes.present? %>
<h3>Contact notes</h3>
<p><%= contact.notes %></p>
<% end %>

<% if can? :manage, contact %>
<div class="form-actions">
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				New <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><%= link_icon 'Address', polymorphic_path([@contactable, :contact, Address], action: :new), "envelope" %></li>
					<li><%= link_icon 'Phone', polymorphic_path([@contactable, :contact, Phone], action: :new), "phone" %></li>
				</ul>
		</div>
		<div class="btn-group"><%= link_to 'Edit Notes', polymorphic_path([@contactable, :contact], action: :edit), class: 'btn' %></div>
	</div>
</div>
<% end %>