<%= simple_form_for [@contactable, @contact], url: polymorphic_path([@contactable, :contact]), html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :notes, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary'  %>
	<%= link_to "Cancel", polymorphic_path([@contactable, :contact]), class: "btn" %>
  </div>
<% end %>
