<%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
	<%= f.input :date_of_birth, as: :datechooser %>
	<%= f.input :gender, as: :radio, collection: [:male, :female, :unknown, :other] %>
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @patient, :class => 'btn' %>
  </div>
<% end %>
