<form class="form-search offset2"  >
  <div class="input-append">
    <input id="search_key" name="search_key" type="text" class="search-query span4" autofocus="true" placeholder="Search for patient, result, etc...">
    <input type="hidden" id="search_type" name="type"/>
    <button id="search_home"  class="btn">Search</button>
  </div>
</form>

