<div class="page-header">
<h1>Patients</h1>
</div>

<% if @patients.present? %>
<table class="table table-striped sortable">
	<caption>Total <%= pluralize(@patients.count, 'patient') %>.</caption>
  <thead>
    <tr>
      <th>Name</th>
			<th>Date of birth (age)</th>
			<th>Location</th>
			<th>Length of stay</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.name, patient_path(patient) %></td>
				<td><%= (l patient.date_of_birth || "").to_s + " (#{patient.age})"%>
				<td><%= patient.current_visit.location.name unless patient.current_visit.nil? %>
				<td><%= patient.current_visit.length_of_stay unless patient.current_visit.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<em>You have no patients!</em>
<% end %>

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
</div>