<dl class="dl-horizontal">
	<dt>Name:</dt>
	<dd><%= @patient.name %></dd>
	<dt>Date of Birth:</dt>
	<dd><%=l @patient.date_of_birth %></dd>
	<dt>Gender:</dt>
	<dd><%= @patient.gender %></dd>
</dl>
		
<div class="form-actions">
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_patient_path(@patient), :class => 'btn' if can? :edit, @patient %>
</div>
