<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
    <%= f.input :login, required: false, autofocus: true, input_html: { class: 'span4' }, label: false, placeholder: 'Login name' %>
    <%= f.input :password, required: false, input_html: { class: 'span4' }, label: false, placeholder: 'Password'  %>

    <%= f.button :submit, "Sign in", class: 'btn btn-primary btn-large' %>
    <%= link_to 'Cancel', root_path, class: 'pull-right'%>
<% end %>
