<address>
	<%= icon "envelope"%> <strong><%= address.type.capitalize %></strong><br/>
	<% if address.name.present? %>
	<%= address.name %><br/>
	<% end %>
	<%= address.street1 %><br/>
	<% if address.street2.present? %>
	<%= address.street2 %><br/>
	<% end %>
	<%= address.city %><br/>
	<% if address.state.present? %>
	<%= address.state %>&nbsp;
	<% end %>	
	<% if address.post_code.present? %>
	<%= address.post_code %>
	<% end %>
	<% if address.state.present? || address.post_code.present? %>
	<br/>
	<% end %>
	<%= address.country %>
</address>