<%= simple_form_for [@contactable, :contact, @address], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :type, collection: [ "home", "work", "relative", "other" ] %>
	<%= f.input :name %>
	<%= f.input :street1 %>
	<%= f.input :street2 %>
	<%= f.input :city %>
	<%= f.input :state %>
	<%= f.input :post_code %>
	<%= f.input :country %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
	<%= link_to "Cancel", polymorphic_path([@contactable, :contact]), class: "btn" %>
  </div>
<% end %>
