<table class="table table-bordered">
	<% table.each do |address| %>
	<tr>
		<td><%= render address %></td>
		<td>
			<%= link_to 'Edit', polymorphic_path([@contactable, :contact, address], action: :edit), class: "btn btn-small" %>
			<%= link_to 'Destroy', polymorphic_path([@contactable, :contact, address]), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-small" %>
		</td>
	</tr>
	<% end %>
</table>