<ul class="thumbnails">
	<% thumbnails.each do |address| %>
	<li class="span3">
		<div class="thumbnail">
				<%= render address %>
				<%= link_to 'Edit', polymorphic_path([@contactable, :contact, address], action: :edit), class: 'btn btn-mini' if can? :edit, address %>
				<%= link_to 'Delete'.html_safe, polymorphic_path([@contactable, :contact, address]), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' if can? :destroy, address %>
	</li>
	<% end %>
</ul>