// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.

.arrow_box_top {
  background: #fff;
  border: 1px solid #ccc;
}
.arrow_box_top:after, .arrow_box_top:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_top:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.arrow_box_top:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.ui-autocomplete-category{
  background-color: #eeeeee;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ui-menu-item:hover{
  cursor: pointer;
}