table.tablesorter .header,
table.tablesorter .tablesorter-header {
	cursor: pointer;
}
.tablesorter-header-inner {
	float: left;
}
th.tablesorter-headerSortUp:after {
  font-family: 'FontAwesome';
  content: "  \f078";
	float: right;
}
th.tablesorter-headerSortDown:after {
  font-family: 'FontAwesome';
  content: "  \f077";
	float: right;
}

/* filter widget */
table.tablesorter input.tablesorter-filter {
	width: 95%;
	height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.tablesorter tr.tablesorter-filter,
table.tablesorter tr.tablesorter-filter td {
	text-align: center;
	background: #fff;
}
/* optional disabled input styling */ 
table.tablesorter input.tablesorter-filter.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}