<%= simple_form_for @site, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
	<%= f.input :abbreviation %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @site, :class => 'btn' %>
  </div>
<% end %>
