<div class="page-header">
<h1>Sites</h1>
</div>
<table class="table table-striped sortable">
	<caption>Total <%= pluralize(@sites.count, 'site') %>.</caption>
  <thead>
    <tr>
      <th>Site name</th>
			<th>Admissions</th>
			<th>Users</th>
			<th>User groups</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site_path(site) %><%= " (" + site.abbreviation + ")" unless site.abbreviation.blank? %></td>
				<td><%= site.visits.active.count %></td>
				<td><%= site.users.count %></td>
				<td><%= site.user_groups.count %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Site %>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_site_path,
            :class => 'btn btn-primary' %>
</div>
<% end %>