<dl class="dl-horizontal">
	<dt>Admissions:</dt>
	<dd><%= @site.visits.active.count %></dd>
	<dt>Users:</dt>
	<dd><%= @site.users.count %></dd>
	<dt>User groups</dt>
	<dd><%= @site.user_groups.to_sentence %> 
	</dd>
</dl>

<div class="form-actions">
	<%= link_to 'Back',
	sites_path, :class => 'btn'  %>
	<%= link_to 'Edit',
	edit_site_path(@site), :class => 'btn' if can? :update, @site %>
	<%= link_to 'Delete site',
	site_path(@site),
	:method => 'delete',
	:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	:class => 'btn btn-danger pull-right' if can? :destroy, @site %>
</div>