<%= simple_form_for [@site, @location], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :department %>
	  <%= f.input :bed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                site_locations_path(@site), :class => 'btn' %>
  </div>
<% end %>
