<table class="table table-striped sortable">
	<thead>
  <tr>
    <th>Department</th>
    <th>Bed</th>
    <th>Patients</th>
	<th>Actions</th>
  </tr>
</thead>

<% @locations.each do |location| %>
  <tr>
	<td><%= location.department %></td>
	<td><%= location.bed %></td>
	<td><%= location.visits.count %></td>
	<td>
	<%= link_to 'Show', [@site, location], class: 'btn btn-mini' %>
	<%= link_to 'Edit', edit_site_location_path(@site, location), class: 'btn btn-mini' %>
	<%= link_to 'Destroy', [@site, location], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
	</td>
  </tr>
<% end %>
</table>

<div class="form-actions">
<%= link_to 'New Location', new_site_location_path(@site), class: 'btn btn-primary' %>
</div>