<div class="page-header">
	<h1><%= @location.site.name %> <%= @location.department %><h1>
</div>

<dl class="dl-horizontal">
	<dt>Bed:</dt>
  <dd><%= @location.bed unless @location.bed.nil? %></dd>
</dl>

<div class="form-actions">
<%= link_to 'Edit', edit_site_location_path(@site, @location), class: 'btn' %> 
<%= link_to 'Back', site_locations_path(@site), class: 'btn' %>
</div>