<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<% if current_user.present? %>
			<a class="brand" href="<%= home_path %>"><%= current_user.site.name %></a>
			<% end %>

			<div class="nav-collapse">
				<ul class="nav">
					<% if can? :manage, Site %>
					<li id="sites"><%= link_icon "Sites", sites_path, "hospital" %></li>
					<% end %>
					<% if can? :manage, User %>
					<li id="users"><%= link_icon "Users", users_path, "user-md" %></li>
					<% end %>
					<% if can? :read, Patient %>
					<li id="patients"><%= link_icon "Patients", patients_path, "group" %></li>
					<% end %>
				</ul>
				<form class="navbar-search pull-right">
					<input type="text" class="search-query span2" placeholder="Search...">
				</form> 
				<% if current_user.present? %>
				<ul class="nav pull-right">
          <li class="divider-vertical"></li>
					<li><%= link_icon current_user.name, user_path(current_user), "cogs", 1 %></li>
					<li><%= link_icon "", destroy_user_session_path, "signout", 1, method: :delete %></li>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
</div>