<!DOCTYPE html>
<html lang="en">
<%= render template: 'layouts/headers' %>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div class="container">
  <%= render "layouts/navbar" %>

  <% if notice %>
      <div class="alert alert-success">
        <%= icon("ok-sign", 2) %>
        <button class="close" data-dismiss="alert">×</button>
        <%= notice %>
      </div>
  <% end %>
  <% if alert %>
      <div class="alert alert-warning">
        <%= icon("warning-sign", 2) %>
        <button class="close" data-dismiss="alert">×</button>
        <%= alert %>
      </div>
  <% end %>
  <div class="content">
    <% if content_for?(:page_header) %>
        <div class="row">
          <div class="span12">
            <%= yield :page_header %>
          </div>
        </div>
    <% end %>
    <% if content_for?(:nav_menu) %>
        <div class="row">
          <div class="span12">
            <%= yield :nav_menu %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <% if content_for?(:sidebar) %>
          <div class="span3">
            <%= yield :sidebar %>
          </div>
          <div class="span9">
            <%= yield %>
          </div>
      <% else %>
          <div class="span12">
            <%= yield %>
          </div>
      <% end %>
    </div>
    <!--/row-->
  </div>
  <!--/content-->
</div>
<!-- /container -->
</body>
</html>
