<% content_for :page_header do %>
<div class="page-header">
  <h1><%= @site.name %>&emsp;<small>Welcome, <%= current_user.name %></small></h1>
</div>
<% end %>
<% content_for :sidebar do %>
<ul class="nav nav-pills nav-stacked">
	<li id="home"><%= link_icon 'Home', home_path, 'home' %></li>
  <li id="clinical_teams"><%= link_icon 'Clinical teams', clinical_teams_path, 'medkit' %></li>
  <li id="stats"><%= link_icon 'Statistics', stats_path, 'signal' %></li>
  <% if can? :read, @site %>
    <li id="sites"><%= link_icon 'Site settings', site_path(@site), 'hospital' %></li>
  <% end %>
  <li id="reference"><%= link_icon 'Useful references', 'http://www.google.com', 'book' %></li>
</ul>
<% end %>

<%= render template: 'layouts/application' %>