<!DOCTYPE html>
<html lang="en">
  <%= render template: 'layouts/headers'%>
  <body>
    <div class="container">
      <div class="content">
        <div class="row">
						<div class="span4 offset4">
							<% if notice %>
								<div class="alert alert-success"><%= notice %></div>
							<% end %>
							<% if alert %>
								<div class="alert alert-error"><%= alert %></div>
							<% end %>
						</div>
					</div>
					<div class="row">
           <div class="span4 offset4 well">
						 <h1>Continuity</h1>
						 <br/>
								<%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->

    </div> <!-- /container -->
  </body>
</html>
