<% content_for :page_header do %>
<div class="patient-header">
	<div class="row">
		<div class= "span4">
			<h2><%= @patient.name %></h2>
		</div>
		<div class="span4">
			<h2><%= @patient.age %>&nbsp;<%= @patient.gender_symbol %>&nbsp;<small><%=l @patient.date_of_birth %></small></h2>
		</div>
		<div class="span4">
			<h2>80-837-836</h2>
		</div>
	</div>
	<% if @patient.current_visit.present? %>
	<div class="row">
		<div class="span4">
			<h4>
				<%= @patient.current_visit.location.site.abbreviation %>&nbsp;<%= @patient.current_visit.location.department %>&nbsp;
				<small><%= @patient.current_visit.length_of_stay %></small>
			</h4>
		</div>
		<div class="span4">
			<h4><%= icon "user-md" %> <%= @patient.current_visit.clinical_team.present? ? @patient.current_visit.clinical_team.name : "No consultant" %></h4>
		</div>
		<div class="span4">
			<h4><%= icon "map-marker" %> <%= @patient.current_visit.location.name %></h4>
		</div>
	</div>
</div>
	<% end %>
<% end %>
<% content_for :nav_menu do %>
	<ul class="nav nav-tabs">
		<li id="summary"><a href="#summary" data-toggle="pill"><%= icon("stethoscope") %> Summary</a></li>
		<li id="observations"><a href="#observations" data-toggle="pill"><%= icon("eye-open") %> Observations</a></li>
		<li id="notes"><a href="<%= patient_notes_path(@patient) %>"><%= icon("edit") %> Notes</a></li>
		<li id="prescriptions"><a href="#prescriptions" data-toggle="pill"><%= icon("heart") %> Prescriptions</a></li>
		<li id="results"><a href="#results" data-toggle="pill"><%= icon("beaker") %> Results</a></li>
		<li id="demographics"><a href="<%= patient_path(@patient) %>"><%= icon("user") %> Demographics</a></li>
		<li id="contact"><a href="<%= patient_contact_path(@patient) %>"><%= icon("phone") %> Contacts</a></li>
		<li id="visits"><a href="<%= patient_visits_path(@patient) %>"><%= icon("globe") %> Visits</a></li>
	</ul>
<% end %>

<%= render template: 'layouts/application' %>