<!DOCTYPE html>
<html lang="en">
<%= render template: 'layouts/headers' %>
<body>
	<div class="container">
		<div class="content">
			<div class="span12">
				<%= yield %>
			</div>
		</div><!--/content-->
	</div> <!-- /container -->
</body>
</html>
