<% content_for :page_header do %>
<div class="page-header">
  <h1><%= @site.name %> Settings&emsp;<small><%= (@site.abbreviation.blank? ? "none" : @site.abbreviation) %></small></h1>
</div>
<% end %>
<% content_for :sidebar do %>
	<ul class="nav nav-pills nav-stacked">
		<li id="summary"><%= link_icon 'Summary', site_path(@site), 'hospital' %></li>
    <li id="user_groups"><%= link_icon 'User groups', site_user_groups_path(@site), 'group' %>
    <li id="locations"><%= link_icon 'Locations', site_locations_path(@site), 'map-marker' %></li>
	</ul>
<% end %>
<%= render template: 'layouts/application' %>