<% content_for :page_header do %>
<div class="page-header">
  <h1>Settings <small><%= @user.name if current_user != @user %></small></h1>
</div>
<% end %>
<% content_for :sidebar do %>
	<ul class="nav nav-pills nav-stacked">
		<li id="summary"><%= link_icon 'Summary', @user, 'user' %></li>
    <li id="job_description"><%= link_icon 'Job description', job_description_user_path(@user), 'medkit' %>
    <li id="contact"><%= link_icon 'Contacts', user_contact_path(@user), 'phone' %></li>
    <li id="login_record"><%= link_icon 'Login record', login_record_user_path(@user), 'globe' %>
	</ul>
<% end %>
<%= render template: 'layouts/application' %>